<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Voting App</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
		<script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	</head>
	<body>
		<div class="container">
			<h1>Who Will Win!?</h1>

            {% if message %}
                <div class="alert alert-{{ message_level }}">
                  {{ message }}
                </div>
            {% endif %}

			<form class="form-horizontal" method="post">
				<div class="form-group">
					<label class="control-label col-sm-2" for="exampleInputEmail1">Email Address</label>
					<div class="col-sm-8">
						<input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Email" required>
					</div>
				</div>

                <div class="form-group">
                    <div class="radio col-sm-offset-2 col-sm-10">
                        {% for fighter in fighters %}
                            <div class="fighter-choice">
                                <label class="radio-inline" for="fighter{{ fighter.id }}">
                                    <input type="radio" value={{ fighter.id }} id="fighter{{ fighter.id }}" name="fighter" required>
                                    {{ fighter.name }}
                                    <br>
                                    <img src="{{ url_for('static', filename='images/'~fighter.name~'.jpg') }}"
                                         alt="{{ fighter.name }}">
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Vote</button>
                    </div>
                </div>
            </form>

            <br>

            {% if vote_counts %}
            <div class="col-sm-offset-2 col-sm-8">
                <div class="panel panel-default">
                    <div class="panel-heading">Votes so far</div>
                    <div class="panel-body">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="{{ vote_counts[0][1] }}"
                                 aria-valuemin="0" aria-valuemax="{{ total_votes }}"
                                 style="width:{{ vote_counts[0][1] * 100/total_votes }}%">
                                <span class="sr-only">70% Complete</span>
                            </div>
	                        {{vote_counts[0]}}
	                        {{total_votes}}
                        </div>
                        <div>
                            <span>{{ fighters[0].name }}</span>
                            <span class="pull-right">{{ fighters[1].name }}</span>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

        </div>
    </body>
</html>